@model Models.CreateCodeDTO

@{
    ViewData["Title"] = "CreateCode";
}

<h1>CreateCode</h1>

<h4>CreateCodeViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCode">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Apartment Number</label>
                <select asp-for="ApartmentNumber" asp-items="@(new SelectList(@ViewBag.apartmantList,"Id","Number"))" class="form-control"></select>
                <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AllCodes">Back to Codes</a>
</div>

