@model Models.CodeDTO
@{
    ViewData["Title"] = "CreateARegistrationNumber";
}

<h1>The Code "@Model.Code" has been created for apartment @Model.ApartmentNumber</h1>

<div>
    <a asp-controller="Apartments" asp-action="All">Back to Apartments</a>
</div>
<div>
    <a asp-action="AllCodes">Back to Codes</a>
</div>