@model  Models.ErrorDTO
@{
    ViewData["Title"] = "JokeError";
}

    <h1>There was an error while processing your 100% not malicious request. We have dispachen a crew of underpaid slave snail to fix the issue.If u receive Mail, Email, Phone call, Fax or Telepathic message from our snails plase give them this code:</h1>
    <div class="col-md-4">@Model.ErrorCode</div>

