@{
    ViewData["Title"] = "Privacy Policy";
}
    <h1>Privacy Policy</h1>

<p>We will steel your personal information including but not limited to name, email, credit card number and IP. We will sell it to the hiest bidder.</p>
