@model Models.ResetpasswordDTO

@{
    ViewData["Title"] = "RessetPassword";
}

<h1>RessetPassword</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RessetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                @if (Model!=null)
                {

                @if (!Model.IsValid)
                {
                    <span class="text-danger">Invalid Email</span>
                }
                }
            </div>            
            <div class="form-group">
                <input type="submit" value="Reset" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back</a>
</div>

